﻿@model Vidly.ViewModels.MoviesList

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<button onclick="location.href='@Url.Action("New", "Movies")'" type="button" class="btn btn-primary ">Add Movie</button> 
@if (Model.Movies.Count == 0)
{
    <p>We don't have any movies yet!</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">

            <thead>
                <tr>
                    <th>Movie</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model.Movies)
                {
                    <tr>
                        <td>@Html.ActionLink(@movie.Name, "Edit", "Movies", new { Id = movie.Id }, null)</td>
                        <td>@movie.Genre.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


