﻿@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Movie == null)
{
    <h2>New Movie</h2>
}
else
{
    <h2>@Model.Movie.Name</h2>
}

@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.Name)
        @Html.TextBoxFor(x => x.Movie.Name, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.ReleaseDate)
        @Html.TextBoxFor(x => x.Movie.ReleaseDate,"{0:d}", new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.GenreId)
        @Html.DropDownListFor(x => x.Movie.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.NumberInStock)
        @Html.TextBoxFor(x => x.Movie.NumberInStock, new {@class = "form-control"})
    </div>
    @Html.HiddenFor(x=>x.Movie.Id)
    <button type="submit" class="btn btn-primary">Save</button>

}

