﻿@using System.Web.UI.WebControls
@model Vidly.ViewModels.CustomerFormViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Customer.Name)
        @Html.TextBoxFor(x => x.Customer.Name, new  { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Customer.Surname)
        @Html.TextBoxFor(x => x.Customer.Surname, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Customer.Birthdate)
        @Html.TextBoxFor(x => x.Customer.Birthdate, "{0:d}", new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Customer.MembershipTypeId)
        @Html.DropDownListFor(x => x.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(x => x.Customer.IsSubscribedToNewsletter) Subscribed To Newsletter?
        </label>
    </div>
    @Html.HiddenFor(x=>x.Customer.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

